<div>
  <h2><span data-ng-bind="appSettings.title"></span></h2>
</div>

<div>
  <div>Search Customer:&nbsp;<input id="customer-filter" type="text" data-ng-model="customerFilter" /></div>
    <div>Total number of customers: <span data-ng-bind="customers.length"></span></div>
      <div>
        <table id="customers-table" class="data-table table table-striped">
          <tr>
            <th data-ng-click="doSort('name')">Name</th>
            <th data-ng-click="doSort('city')">City</th>
            <th data-ng-click="doSort('invoice_total')">Invoice Total</th>
            <th data-ng-click="doSort('joined')">Members Since</th>
            <th>&nbsp;</th>
          </tr>
          <tr data-ng-repeat="customer in customers | customCustomerFilter:customerFilter | orderBy:sortBy:reverse">
            <td><span data-ng-bind="customer.name"></span></td>
            <td><span data-ng-bind="customer.city"></span></td>
            <td><span data-ng-bind="customer.invoice_total"></span></td>
            <td><span data-ng-bind="customer.joined"></span></td>
            <td><a href="#/invoice/{{customer.id}}">View Invoices</a>&nbsp;<span class="glyphicon glyphicon-remove delete" data-ng-click="deleteCustomer(customer.id)"></span></td>
          </tr>
        </table>
    </div>
  </div>
</div>
