<h2>All Invoices</h2>
<table id="customer-invoice-table" class="data-table table table-striped">
  <tr>
    <th>Customer ID</th>
    <th>Customer Name</th>
    <th>Orders Count</th>
    <th>Total</th>
 </tr>

  <tr data-ng-repeat="record in invoice_records">
    <td><span data-ng-bind="record.customerId"></span></td>
    <td><span data-ng-bind="record.customerName"></span></td>
    <td><span data-ng-bind="record.ordersCount"></span></td>
    <td><span data-ng-bind="record.total | currency"></span></td>
 </tr>
</table>
