.red {
  color: red;  
}

.navy {
  color: navy;  
}

div{
 margin-bottom:3px; 
}

#greetings{
  margin-bottom:20px;
}

#customers-table{
  border:1px solid gray;
  border-collapse:collapse;
  text-align:center;
}

#customers-table th, #customers-table td{
  padding:5px;
  border: 1px solid lightgray;
}

#customers-table th{
  background-color:lightblue;
}
