body{
  width:50%;  
}

.red {
  color: red;  
}

.navy {
  color: navy;  
}

div{
 margin-bottom:3px; 
}

#greetings{
  margin-bottom:20px;
}

table.data-table{
  border:1px solid gray;
  border-collapse:collapse;
  text-align:center;
}

table.data-table th, table.data-table td{
  padding:5px;
  border:1px solid lightgray;
}

table.data-table th{
  background-color:lightblue;
}

.gridStyle{
  border:1px solid rgb(212,212,212,212);
  width:400px;
  height:400px;  
}
