<!doctype html>
<html data-ng-app="InvoiceApp">
  <head>
    <link rel="stylesheet" href="css/theme.css" type="text/css" media="all" />
    <title>Customer Orders</title>
  </head>

  <body data-ng-init="user={username:'Guest', isLoggedIn:false};">
    <div id="greetings" data-ng-switch on="user.isLoggedIn">
      <div id="guest-greetings" data-ng-switch-default>Hello Guest! <br />Please specify your username <input id="username" type="text" data-ng-model="user.username"/> prior to <a href="#" data-ng-click="user.isLoggedIn=true">logging in</a>.</div>
      <div id="admin-greetings" data-ng-switch-when="true">Welcome back <span data-ng-bind="user.username"></span>!</div>
    </div>

    <div data-ng-view></div>

    <script type="text/javascript" src="scripts/angular.1.2.21.min.js"></script>
    <script type="text/javascript" src="scripts/angular-route.1.2.21.min.js"></script>
    <script type="text/javascript" src="app/invoice-app.js"></script>
    <script type="text/javascript" src="app/controllers/customers-controller.js"></script>
    <script type="text/javascript" src="app/controllers/invoices-controller.js"></script>
 </body>
</html>

